/.env
/db.sqlite3
/.idea/DjangoSanyaProject.iml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/modules.xml
/poetry.lock
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
